@mixin column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin responsive ($breakpoint) {
  @if $breakpoint == laptop {
    @media screen and (min-width: 992px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media screen and (min-width: 576px) {
      @content;
    }
  }
}