@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.productDetails {
  @include column($gap: 30px);

  @include responsive(phone) {
    padding: 20px;
    flex-direction: row;
    background-color: $light-grey;
    border-radius: 5px;
    border: 1px solid $dark-grey;

  }

  &__img {
    width: 100%;

    @include responsive(phone) {
      width: 250px;
      height: 250px;
    }

    @include responsive(tablet) {
      width: 350px;
      height: 350px;
    }
  }

  &__info {
    overflow-x: auto;
  }

  &__title {
    font-size: 28px;
  }

  &__price {
    margin-top: 15px;

    &_amount {
      font-size: 20px;
      color: $red;
    }
  }

  &__description {
    margin-top: 15px;
  }

  table {
    margin-top: 15px;
    padding-bottom: 15px;
  }

  td {
    padding: 3px 0;
  }

  tr > td:first-child {
    padding-right: 10px;
    font-weight: bold;
  }

}